@using Microsoft.AspNetCore.Identity

@model HeaderVM
@inject ILayoutServices layoutservices
@inject UserManager<AppUser> userManager

@{
    List<CartVM> cartVMs = await layoutservices.GetCart();
    AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = userManager.Users.FirstOrDefault(a => a.UserName == User.Identity.Name);
    }
}

<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="header-wrapper d-flex align-items-center justify-content-between">
                    <p>WELCOME TO WOLMART STORE MESSAGE OR REMOVE IT!</p>
                    <div class="header-right d-flex">
                        <div class="language-box d-flex">
                            <div class="nav-wrapper">
                                <div class="sl-nav">
                                    <ul>
                                        <li>
                                            USD <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <div class="triangle"></div>
                                            <ul>
                                                <li><a href="#">USD</a></li>
                                                <li><a href="#">EUR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sl-nav">
                                    <ul>
                                        <li>
                                            ENG <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <div class="triangle"></div>
                                            <ul>
                                                <li><a href="#">ENG</a></li>
                                                <li><a href="#">FRA</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <span class="divider"></span>
                        <div class="main-forward">
                            <a href="contact.html">Contact Us</a>
                            <a href="my-account.html">My Account</a>
                        </div>
                        <div class="modal-box">
                            <i class="fa-regular fa-user"></i>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="account" asp-action="profile">@appUser.UserName</a>
                            }
                            else
                            {
                                <a data-bs-toggle="modal" data-bs-target="#loginModal" data-tilt data-tilt-glare="true" data-tilt-transition="true" data-tilt-scale="1.1" class="c-logo">
                                    Sign In /
                                </a>
                                <a data-bs-toggle="modal" data-bs-target="#loginModal" data-tilt data-tilt-glare="true" data-tilt-transition="true" data-tilt-scale="1.1" class="c-logo">
                                    Register
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <div class="row">
                <div class="header-wrapper d-flex align-items-center justify-content-between">
                    <div class="left-side d-flex align-items-center">
                        <a asp-controller="home" asp-action="index" class="header-logo">
                            <img src="/assets/images/header-logo.png" alt="Header Logo">
                        </a>
                        <div class="menu-list">
                            <ul class="d-flex">
                                <li>
                                    <a asp-controller="home" asp-action="index">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index">
                                        Shop
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="about" asp-action="index">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="contact" asp-action="index">
                                        Contact us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="contact-phone d-flex align-items-center">
                            <i class="fa-solid fa-phone"></i>
                            <div class="phone-box">
                                <h4>Live Chat <span>or :</span></h4>
                                <a href="tel:#">
                                    0(800)123-456
                                </a>
                            </div>
                        </div>
                        <span class="divider"></span>
                        <div class="item-box d-flex">
                            <a asp-controller="wishlist" asp-action="index" class="item">
                                <i class="fa-regular fa-heart"></i>
                                <span>Wishlist</span>
                            </a>
                            <a href="#" class="item">
                                <i class="fa-solid fa-code-compare"></i>
                                <span>Compare</span>
                            </a>
                            <div class="sl-nav">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                        Cart
                                        <div id="cart-info">
                                            @await Html.PartialAsync("_CartPartial", cartVMs)
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div>
                    <div class="inner-wrap d-flex align-items-center">
                        <div class="header-left  d-flex align-items-center">
                            <div class="dropdown category-dropdown has-border" data-visible="true">
                                <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="true" data-display="static"
                                   title="Browse Categories">
                                    <i class="w-icon-category"></i>
                                    <span>Browse Categories</span>
                                </a>

                                <div class="dropdown-box">
                                    <ul class="menu vertical-menu category-menu">
                                        @foreach (var category in Model.Categories)
                                        {
                                            var subcategories = Model.Subcategories.Where(s => s.ParentCategoryID == category.ID).ToList();

                                            <li>
                                                <a href="#">
                                                    <i class="fa-solid fa-@category.Icon"></i>@category.Name
                                                    @if (subcategories.Any())
                                                    {
                                                        <div class="chevron">
                                                            <i class="fa-solid fa-chevron-right"></i>
                                                        </div>
                                                    }
                                                </a>
                                                <ul class="megamenu">
                                                    @{
                                                        if (subcategories.Any())
                                                        {
                                                            foreach (var subcategory in subcategories)
                                                            {
                                                                @if (subcategory.ParentSubcategoryID == null)
                                                                {
                                                                    <li>

                                                                        <h4 class="menu-title">@subcategory.Name</h4>
                                                                        <hr class="divider">
                                                                        <ul>
                                                                            @foreach (var subSubcategory in Model.Subcategories.Where(s => s.ParentSubcategoryID == subcategory.ID))
                                                                            {
                                                                                <li>
                                                                                    <a href="#">@subSubcategory.Name</a>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    }
                                                    @if (Model.Subcategories.Any(x => x.ParentCategoryID == category.ID))
                                                    {
                                                        <li>
                                                            <div class="banner-fixed menu-banner menu-banner2">
                                                                <figure>
                                                                    <img src="assets/images/@category.Image"
                                                                         alt="Menu Banner" width="235"
                                                                         height="347" />
                                                                </figure>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
     @*                                        <a href="#"
                                            class="font-weight-bold text-primary text-uppercase">
                                            View All Categories
                                            </a> *@
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form method="GET" class="search-box d-flex gap-3">
                                <div class="select-box">
                                    <select>
                                        <option value="">All Categories</option>
                                        <option value="4">Fashion</option>
                                        <option value="5">Furniture</option>
                                        <option value="6">Shoes</option>
                                        <option value="7">Sports</option>
                                        <option value="8">Games</option>
                                        <option value="9">Computers</option>
                                        <option value="10">Electronics</option>
                                        <option value="11">Kitchen</option>
                                        <option value="12">Clothing</option>
                                    </select>
                                </div>
                                <input type="text" placeholder="Search in...">
                                <div class="search-wrapper">
                                    <button class="search-btn">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="header-right d-flex">
                            <a href="#" class="item-box">
                                <i class="fa-solid fa-truck"></i>
                                <span>Track Order</span>
                            </a>
                            <a href="#" class="item-box">
                                <i class="fa-brands fa-ideal"></i>
                                <span>Daily Deals</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mobile__header">
    <div class="container">
        <div class="row">
            <div class="mobile__header-wrapper">
                <a href="#" class="mobile-menu-toggle  w-icon-hamburger">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="mobile__menu">
                    <div class="overlay__menu"></div>

                    <a href="#" class="close__menu"><i class="close-menu"></i></a>

                    <div class="mobile__menu-wrapper item">
                        <form action="#" method="get" class="form__base">
                            <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                                   required />
                            <button class="btn btn-submit" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>

                        <ul class="nav nav-tabs mb-3" id="ex3 nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active"
                                   id="ex3-tab-1"
                                   data-bs-toggle="tab"
                                   href="#ex3-tabs-1"
                                   role="tab"
                                   aria-controls="ex3-tabs-1"
                                   aria-selected="true">MAIN MENU</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   id="ex3-tab-2"
                                   data-bs-toggle="tab"
                                   href="#ex3-tabs-2"
                                   role="tab"
                                   aria-controls="ex3-tabs-2"
                                   aria-selected="false">CATEGORIES</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="ex3-content">
                            <div class="tab-pane fade show active"
                                 id="ex3-tabs-1"
                                 role="tabpanel"
                                 aria-labelledby="ex3-tab-1">
                                <div class="tab-pane" id="main-menu">
                                    <ul class="mobile-menu">
                                        <li><a href="#">Home</a></li>
                                        <li>
                                            <a href="#">Shop</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Shop Pages</a>
                                                    <ul>
                                                        <li><a href="#">Banner With Sidebar</a></li>
                                                        <li><a href="#">Boxed Banner</a></li>
                                                        <li><a href="#">Full Width Banner</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Horizontal Filter<span class="tip tip-hot">Hot</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Off Canvas Sidebar<span class="tip tip-new">New</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Infinite Ajax Scroll</a></li>
                                                        <li><a href="#">Right Sidebar</a></li>
                                                        <li><a href="#">Both Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Shop Layouts</a>
                                                    <ul>
                                                        <li><a href="#">3 Columns Mode</a></li>
                                                        <li><a href="#">4 Columns Mode</a></li>
                                                        <li><a href="#">5 Columns Mode</a></li>
                                                        <li><a href="#">6 Columns Mode</a></li>
                                                        <li><a href="#">7 Columns Mode</a></li>
                                                        <li><a href="#">8 Columns Mode</a></li>
                                                        <li><a href="#">List Mode</a></li>
                                                        <li><a href="#">List Mode With Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Shop Layouts</a>
                                                    <ul>
                                                        <li><a href="#">3 Columns Mode</a></li>
                                                        <li><a href="#">4 Columns Mode</a></li>
                                                        <li><a href="#">5 Columns Mode</a></li>
                                                        <li><a href="#">6 Columns Mode</a></li>
                                                        <li><a href="#">7 Columns Mode</a></li>
                                                        <li><a href="#">8 Columns Mode</a></li>
                                                        <li><a href="#">List Mode</a></li>
                                                        <li><a href="#">List Mode With Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Shop Layouts</a>
                                                    <ul>
                                                        <li><a href="#">3 Columns Mode</a></li>
                                                        <li><a href="#">4 Columns Mode</a></li>
                                                        <li><a href="#">5 Columns Mode</a></li>
                                                        <li><a href="#">6 Columns Mode</a></li>
                                                        <li><a href="#">7 Columns Mode</a></li>
                                                        <li><a href="#">8 Columns Mode</a></li>
                                                        <li><a href="#">List Mode</a></li>
                                                        <li><a href="#">List Mode With Sidebar</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Vendor</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Store Listing</a>
                                                    <ul>
                                                        <li><a href="#">Store listing 1</a></li>
                                                        <li><a href="#">Store listing 2</a></li>
                                                        <li><a href="#">Store listing 3</a></li>
                                                        <li><a href="#">Store listing 4</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Vendor Store</a>
                                                    <ul>
                                                        <li><a href="#">Vendor Store 1</a></li>
                                                        <li><a href="#">Vendor Store 2</a></li>
                                                        <li><a href="#">Vendor Store 3</a></li>
                                                        <li><a href="#">Vendor Store 4</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="#">Classic</a></li>
                                                <li><a href="#">Listing</a></li>
                                                <li>
                                                    <a href="#">Grid</a>
                                                    <ul>
                                                        <li><a href="#">Grid 2 columns</a></li>
                                                        <li><a href="#">Grid 3 columns</a></li>
                                                        <li><a href="#">Grid 4 columns</a></li>
                                                        <li><a href="#">Grid sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Masonry</a>
                                                    <ul>
                                                        <li><a href="#">Masonry 2 columns</a></li>
                                                        <li><a href="#">Masonry 3 columns</a></li>
                                                        <li><a href="#">Masonry 4 columns</a></li>
                                                        <li><a href="#">Masonry sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Mask</a>
                                                    <ul>
                                                        <li><a href="#">Blog mask grid</a></li>
                                                        <li><a href="#">Blog mask masonry</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Single Post</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul>

                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Become A Vendor</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">Login</a></li>
                                                <li><a href="#">FAQs</a></li>
                                                <li><a href="#">Error 404</a></li>
                                                <li><a href="#">Coming Soon</a></li>
                                                <li><a href="#">Wishlist</a></li>
                                                <li><a href="#">Cart</a></li>
                                                <li><a href="#">Checkout</a></li>
                                                <li><a href="#">My Account</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Elements</a>
                                            <ul>
                                                <li><a href="#">Products</a></li>
                                                <li><a href="#">Titles</a></li>
                                                <li><a href="#">Typography</a></li>
                                                <li><a href="#">Product Category</a></li>
                                                <li><a href="#">Buttons</a></li>
                                                <li><a href="#">Accordions</a></li>
                                                <li><a href="#">Alert &amp; Notification</a></li>
                                                <li><a href="#">Tabs</a></li>
                                                <li><a href="#">Testimonials</a></li>
                                                <li><a href="#">Blog Posts</a></li>
                                                <li><a href="#">Instagrams</a></li>
                                                <li><a href="#">Call to Action</a></li>
                                                <li><a href="#">Vendors</a></li>
                                                <li><a href="#">Icon Boxes</a></li>
                                                <li><a href="#">Icons</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                                <div class="tab-pane active" id="categories">
                                    <ul class="mobile-menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-shirt"></i>Fashion
                                                <span class="menu-btn"><i class="fa-solid fa-chevron-right"></i></span>
                                            </a>
                                            <ul class="menu__wrapper" id="menu__wrapper">
                                                <li>
                                                    <a href="#">
                                                        Women
                                                        <span class="menu-btn"><i class="fa-solid fa-chevron-right"></i></span>
                                                    </a>
                                                    <ul class="menu__wrapper-link" id="menu__wrapper-link">
                                                        <li>
                                                            <a href="#">New Arrivalssss</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Best Sellers</a>
                                                        </li>
                                                        <li><a href="#">Trending</a></li>
                                                        <li><a href="#">Clothing</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Bags</a></li>
                                                        <li>
                                                            <a href="#">Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Jewlery &
                                                                Watches
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Men
                                                        <span class="menu-btn"><i class="fa-solid fa-chevron-right"></i></span>
                                                    </a>
                                                    <ul class="menu__wrapper-link" id="menu__wrapper-link">
                                                        <li>
                                                            <a href="#">New Arrivals</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Best Sellers</a>
                                                        </li>
                                                        <li><a href="#">Trending</a></li>
                                                        <li><a href="#">Clothing</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Bags</a></li>
                                                        <li>
                                                            <a href="#">Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Jewlery &
                                                                Watches
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Men
                                                        <span class="menu-btn"><i class="fa-solid fa-chevron-right"></i></span>
                                                    </a>
                                                    <ul class="menu__wrapper-link" id="menu__wrapper-link">
                                                        <li>
                                                            <a href="#">New Arrivals</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Best Sellers</a>
                                                        </li>
                                                        <li><a href="#">Trending</a></li>
                                                        <li><a href="#">Clothing</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Bags</a></li>
                                                        <li>
                                                            <a href="#">Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Jewlery &
                                                                Watches
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-house"></i>Home & Garden
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Bedroom</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                Beds, Frames &
                                                                Bases
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Dressers</a></li>
                                                        <li>
                                                            <a href="#">Nightstands</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Kid's Beds &
                                                                Headboards
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Armoires</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Living Room</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Coffee Tables</a>
                                                        </li>
                                                        <li><a href="#">Chairs</a></li>
                                                        <li><a href="#">Tables</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Futons & Sofa
                                                                Beds
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Cabinets &
                                                                Chests
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Office</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Office Chairs</a>
                                                        </li>
                                                        <li><a href="#">Desks</a></li>
                                                        <li><a href="#">Bookcases</a></li>
                                                        <li>
                                                            <a href="#">File Cabinets</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Breakroom
                                                                Tables
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Kitchen & Dining</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Dining Sets</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Kitchen Storage
                                                                Cabinets
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Bashers Racks</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dining Chairs</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Dining Room
                                                                Tables
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Bar Stools</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-desktop"></i>Electronics
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Laptops &amp; Computers</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                Desktop
                                                                Computers
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Monitors</a></li>
                                                        <li><a href="#">Laptops</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Hard Drives &amp;
                                                                Storage
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Computer
                                                                Accessories
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">TV &amp; Video</a>
                                                    <ul>
                                                        <li><a href="#">TVs</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Home Audio
                                                                Speakers
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Projectors</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Media Streaming
                                                                Devices
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Digital Cameras</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                Digital SLR
                                                                Cameras
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Sports & Action
                                                                Cameras
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Camera Lenses</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Photo Printer</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Digital Memory
                                                                Cards
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Cell Phones</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Carrier Phones</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Unlocked Phones</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Phone & Cellphone
                                                                Cases
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Cellphone
                                                                Chargers
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-couch"></i>Furniture
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Furniture</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Sofas & Couches</a>
                                                        </li>
                                                        <li><a href="#">Armchairs</a></li>
                                                        <li><a href="#">Bed Frames</a></li>
                                                        <li>
                                                            <a href="#">Beside Tables</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dressing Tables</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Lighting</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Light Bulbs</a>
                                                        </li>
                                                        <li><a href="#">Lamps</a></li>
                                                        <li>
                                                            <a href="#">Celling Lights</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Wall Lights</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Bathroom
                                                                Lighting
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Home Accessories</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                Decorative
                                                                Accessories
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Candals &
                                                                Holders
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Home Fragrance</a>
                                                        </li>
                                                        <li><a href="#">Mirrors</a></li>
                                                        <li><a href="#">Clocks</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Garden & Outdoors</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                Garden
                                                                Furniture
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Lawn Mowers</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Pressure
                                                                Washers
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                All Garden
                                                                Tools
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Outdoor Dining</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-notes-medical"></i>Healthy & Beauty
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-gift"></i>Gift Ideas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-gamepad"></i>Toy & Games
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-utensils"></i>Cooking
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-mobile-screen"></i>Smart Phones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-camera-retro"></i>Cameras & Photo
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-solid fa-keyboard"></i>Accessories
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                View All Categories
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="header-logo" href="#">
                    <img src="/assets/images/header-logo.png" alt="Header Logo">
                </a>
                <div class="card__wrapper">
                    <div class="sl-nav">
                        <ul>
                            <li>
                                <i class="fa-solid fa-bag-shopping"></i>
                                <span class="cart-count">2</span>
                                <div class="triangle"></div>
                                <ul>
                                    <li>
                                        <div class="card-item">
                                            <div class="card-box">
                                                <div>
                                                    <span class="card-name">
                                                        Beige knitted elas tic runner
                                                        shoes
                                                    </span>
                                                    <div class="card-bottom">
                                                        <span class="card-quantity">1 X </span>
                                                        <span class="card-price">$14.22</span>
                                                    </div>
                                                </div>
                                                <div class="card-thumbnail">
                                                    <a class="close-btn" href="#">
                                                        <i class="fa-solid fa-xmark"></i>
                                                    </a>
                                                    <img src="/assets/images/products/1-1-1.jpg" alt="Cart Product">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-item">
                                            <div class="card-box">
                                                <div>
                                                    <span class="card-name">
                                                        Beige knitted elas tic runner
                                                        shoes
                                                    </span>
                                                    <div class="card-bottom">
                                                        <span class="card-quantity">1 X </span>
                                                        <span class="card-price">$14.22</span>
                                                    </div>
                                                </div>
                                                <div class="card-thumbnail">
                                                    <a class="close-btn" href="#">
                                                        <i class="fa-solid fa-xmark"></i>
                                                    </a>
                                                    <img src="/assets/images/products/1-2.jpg" alt="Cart Product">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <hr />
                                    <div class="cart-price">
                                        <label>Subtotal:</label>
                                        <span class="price">$44.30</span>
                                    </div>

                                    <div class="cart-wrapper">
                                        <a href="#" class="btn-cart">View Cart</a>
                                        <a href="#" class="btn-checkout">Checkout</a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>