.about__top{
    padding-top: 60px;

    h4{
        font-size: 40px;
        margin: 0 auto;
        font-weight: bold;
    }

    p{
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 40%;
        margin: 0 auto;
    }

    img{
        border-radius: 12px;
        width: 100%;
    }
}

.about__center{
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;

    .about__box{
        display: flex;
        margin: 0 auto;
        padding-top: 60px;
        text-align: center;
        align-items: center;
        justify-content: center;

        span{
            font-size: 60px;
            color: #cccccc;
            font-weight: bold;
        }

        h4{
            font-size: 20px;
            font-weight: bold;
        }

        p{
            font-size: 14px;
            max-width: 62%;
            text-align: center;
            margin: 0 auto;
        }
    }

    .image-box{
        text-align: end;
    }

    .title{
        font-size: 34px;
        max-width: 85%;
        font-weight: bold;
    }

    .accordion{
        padding-right: 22px;
        padding-top: 20px;
    }

    .accordion-item{
        border: none;
        border-bottom: 1px solid #eee;
        padding-top: 7px;
        padding-bottom: 7px;

        button{
            font-size: 14px;
            font-weight: bold;
        }

        .accordion-body{
            font-size: 14px;
        }
    }

    img{
        width: 80%;
        margin-left: auto;
        border-radius: 12px;
    }
}

.about__awards{
    background: #FAFAFB;
    margin-top: 120px;
    padding-top: 50px;
    padding-bottom: 50px;

    .about-item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;


        .award-title{
                font-weight: bold;
                text-align: center;
                margin: 0 auto;
                font-size: 30px;
                padding-top: 70px;
                padding-bottom: 40px;
        }

        .award_box{
            display: flex;
            justify-content: center;
            gap: 5rem;

            .award-item{
                text-align: center;

                .award-title{
                    font-weight: bold;
                    text-align: center;
                }
            }

            p{
                text-align: center;
                font-size: 20px;
                margin-top: 20px;
            }

            img{
                width: 106px;
                height: 106px;
                text-align: center;
            }

        }
    }

    .col-lg-6{
        img{
            border-radius: 12px;
            width: 92%;
        }
    
        h4{
            font-size: 34px;
            font-weight: bold;
            max-width: 82%;
        }
    
        p{
            font-size: 1.4rem;
            line-height: 1.86;
            padding-top: 10px;
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .about__box{
        display: flex;
        flex-direction: column;
    }

    .about__top p{
        max-width: 100%;
    }
    .about__top h4{
        font-size: 23px;
    }

    .about-item{
        gap: 2rem;
        img{
            width: 100%;
        }

        h4{
            font-size: 23px !important; 
        }
    }

    .award_box{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .about__center .title{
        font-size: 23px;
    }

    .about__center .image-box {
        text-align: start;
        padding-top: 20px;

        img{width: 100%;}
    }
}